@import "compass/css3";

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 1rem;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

header {
	position: fixed;
    background-color: #34495e;
    min-height: 5vw;
}

#landingSection{
    height: 70%;
    background-color: white;
}

#secSection{
    height: 70%;
    background-color: gray;
}

footer {
    background-color: #34495e;
    min-height: 10vw;
}

/*Diseño para móviles primero y 2 puntos de ruptura, uno para 600px y otro a partir de 768px*/
/* For mobile phones: cada columna ocupa el 100% del ancho*/
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px){
  /* For tablets: Definimos clases con distintos nombres, esto nos permite cambiar el número de columnas que
    ocupa cada elemento en función de la resolución del dispositivo. Para resoluciones entres 600px y 768 px se aplicarán estas clases*/
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}